<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>医诊通V1.0.0</title>
    <link rel="stylesheet" href="/public/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/public/static/css/css.css" />
    <link href="/public/static/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/public/static/images/favicon.ico" />
    <script type="text/javascript" src="/public/static/js/sdmenu.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/static/easyui/themes/gray/easyui.css">
    <link rel="stylesheet" type="text/css" href="/public/static/easyui/themes/icon.css">
    <script type="text/javascript" src="/public/static/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/public/static/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/public/static/easyui/jquery.edatagrid.js"></script>
    <script type="text/javascript" src="/public/static/easyui/locale/easyui-lang-zh_CN.js"></script>



</head>
<body>
<ul class="breadcrumb">
    首页<span class="divider">/</span>{$arr['parent_rule']}<span class="divider">/</span>{$arr['rule']}
</ul>
<div class="title_right"><strong>{$arr['rule']}</strong></div>
<div style="position:absolute; right:15px;top:4px;">
    {include file="common:userinfo"}
    <style>
        .breadcrumb {
            margin: 0px;
            padding: 5px;
        }
    </style>

            <form>
            <div class="margin-bottom-5">
                <input type="text" placeholder="请输入查询关键字" style="width:200px" id="keyword" name="keyword"/>
                <a class="easyui-linkbutton" data-options="iconCls:'icon-search'" id="search">查询</a>
            </div>

            <div id="divpadding" class="margin-top-5" style="clear:both">

                <div id="rangegrid" style="width:100%;min-height:700px">
                </div>

            </div>
            </form>
</div>
<script>
    $(function () {

        grid = $('#rangegrid').datagrid({
            methord: 'get',
            url: "{:url('index/hdocument/ini')}",
            sortOrder: 'desc',
            idField: 'id',
            pageSize: 50,
            frozenColumns: [[
                { field: 'ck', checkbox: true }
            ]],
            columns: [[
                {
                    field: 'name', title: '分类'
                },
                {
                    field: 'bzwdgl_title', title: '标题'
                },
                {
                    field: 'bzwdgl_contents', title: '内容'
                },
                {
                    field: 'id', title: '主键', hidden:"hidden",
                }
            ]],
            pagination: true,
            rownumbers: true,
            fitColumns: true,
            singleSelect: false,
            onClickCell: function (index, field, value) {
                endEditing();
                if (field == "sort") {
                    onClickCell(index, field);
                }
            }
        });

        $("#search").click(function () {
            $("#rangegrid").datagrid('options').page = 1;
            var queryParams =  $("#rangegrid").datagrid('options').queryParams;
            queryParams.keyword = $("#keyword").val();
            $("#rangegrid").datagrid('options').queryParams = queryParams;
            $("#rangegrid").datagrid('reload');
        })
    })

</script>
</body>
</html>