<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>诊所通V1.0.0</title>
<link type="text/css" rel="stylesheet" href="/public/static/css/style.css" />
<link rel="shortcut icon" href="/public/images/favicon.ico" />
</head>
<body class="index_body">
	<form action="">
    <div class="prompt">
    	温馨提醒：诊所通已于<span>2018年09月11日12:00</span>升级更新系统，请在此时间后首次使用时，需要清空浏览器缓存重新打开进入使用。

        <a href="./index.php?ver=chaoji">【超级管理员】</a>
        <a href="./index.php?ver=zhensuo">【诊所】</a>
        <a href="./index.php?ver=zhiyuan">【职员】</a>
    </div>
    <div class="logo"><img src="static/images/logo.png" /></div>
	<div class="content">
        <div class="data">
        	<div><input type="text" placeholder="请输入登录账号" /></div>
        	<div><input type="password" placeholder="请输入登录密码" /></div>
        </div>
        <div class="login">
		<a href="{:url('index/index/index')}">登陆</a>
        	<!-- <input type="submit" value="登录系统" /> -->
        </div>
    </div>
	<div class="info">
    	© 2017-2018 诊所通<br />
		技术支持:北京通药集采科技有限公司&nbsp;电话:400-6336-519
    </div>
    </form>
</body>
</html>
