<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>诊所通V1.0.0</title>
    <link rel="stylesheet" href="/public/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/public/static/css/css.css" />
    <link href="/public/static/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/public/static/images/favicon.ico" />
    <script type="text/javascript" src="/public/static/js/sdmenu.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/static/easyui/themes/gray/easyui.css">
    <link rel="stylesheet" type="text/css" href="/public/static/easyui/themes/icon.css">
    <script type="text/javascript" src="/public/static/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/public/static/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/public/static/easyui/jquery.edatagrid.js"></script>
    <script type="text/javascript" src="/public/static/easyui/locale/easyui-lang-zh_CN.js"></script>
</head>
<body>

<ul class="breadcrumb">
    首页<span class="divider">/</span>关于医诊通<span class="divider">/</span>关于系统
</ul>
<div class="title_right"><strong>关于系统</strong></div>
<div style="position:absolute; right:15px;top:4px;">
    {include file="common:userinfo"}
    <style>
        .breadcrumb {
            margin: 0px;
            padding: 5px;
        }
    </style>

        <div class="form_table5">
            <div class="row1">
                <ul>
                    <li><label>系统名称：</label><span>{$data.gxxtjj_name}</span></li>
                    <li><label>版本号：</label><span>{$data.gxxtjj_version}</span></li>
                    <li><label>最后更新日期：</label><span>{$data.gxxtjj_create_time|date='Y-m-d',###}</span></li>
                    <li><label style="line-height:16px;">服务电话：</label><span>{$data.gxxtjj_phone}</span></li>
                    <li><label>服务QQ：</label><span>{$data.gxxtjj_qq}</span></li>
                    <li><label>更多介绍：</label><span>{$data.gxxtjj_more}</span></li>
                </ul>
            </div>
        </div>
</div>
</body>
</html>