<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>医诊通V1.0.0</title>
    <link rel="stylesheet" href="/public/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/public/static/css/css.css" />
    <link href="/public/static/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/public/static/images/favicon.ico" />
    <script type="text/javascript" src="/public/static/js/sdmenu.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/static/easyui/themes/gray/easyui.css">
    <link rel="stylesheet" type="text/css" href="/public/static/easyui/themes/icon.css">
    <script type="text/javascript" src="/public/static/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/public/static/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/public/static/easyui/jquery.edatagrid.js"></script>
    <script type="text/javascript" src="/public/static/js/laydate/laydate.js"></script>
    <script type="text/javascript" src="/public/static/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/public/static/easyui/locale/easyui-lang-zh_CN.js"></script>


</head>
<body>
<ul class="breadcrumb">
    首页<span class="divider">/</span>{$arr['parent_rule']}<span class="divider">/</span>{$arr['rule']}
</ul>
<div class="title_right"><strong>{$arr['rule']}</strong></div>
<div style="position:absolute; right:15px;top:4px;">
    {include file="common:userinfo"}
    <style>
        .breadcrumb {
            margin: 0px;
            padding: 5px;
        }
    </style>
            <div class="margin-bottom-5">
                <a class="easyui-linkbutton" data-options="iconCls:'icon-save'"  href="javascript:add()">保存</a>
                <a class="easyui-linkbutton" data-options="iconCls:'icon-list'" href="{:url('index/customer/index')}">列表</a>
                <a class="easyui-linkbutton" data-options="iconCls:'icon-refresh'" href="{:url('index/customer/customeradd')}">刷新</a>
            </div>

            <div class="form_table2">

                <div class="row">
                    <form id="dd">
                        <ul>
                            <li><label>编码</label><input type="text" name="pkfgl_id" value="{$pkfgl_id}" readonly="readonly"/></li>
                            <!--readonly="readonly"-->
                            <li><label for="name">姓名</label><input type="text" placeholder="必填" name="pkfgl_name" /></li>
                            <li><label>登录用户名</label><input type="text" placeholder="必填" name="pkfgl_username"/></li>
                            <li><label>登录密码</label><input type="text" placeholder="必填" name="pkfgl_code"/></li>
                            <li><label>手机号</label><input type="text" placeholder="必填" name="pkfgl_phone"/></li>
                            <li><label>固定电话</label><input type="text" name="pkfgl_landline"></li>
                            <li><label>QQ</label><input type="text" name="pkfgl_qq"></li>
                            <li><label>邮箱</label><input type="text" name="pkfgl_email" ></li>
                        </ul>
                    </form>

                </div>
            </div>

</div>

<script>
    function add(){
        $.ajax({
            url:"{:url('index/customer/add')}",
            type:"POST",
            data:$('#dd').serialize(),
            success:function(result){
                var results = eval('('+result+')');
                if(results.error == 1){
                    $.messager.alert('提示',results.msg,'info',function(){
                        window.location.href = "{:url('index/customer/index')}";
                    });
                    setTimeout(function(){
                        $(".messager-body").window('close');
                    },3000);
                }else {
                    $.messager.alert('提示',results.msg,'warning');
                }
            }
        });
    }
</script>
</body>
</html>