<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>诊所通V1.0.0</title>
<link rel="stylesheet" href="/public/static/css/bootstrap.css" />
<link href="/public/static/css/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="/public/static/css/css.css" />
<link rel="stylesheet" type="text/css" href="/public/static/easyui/themes/gray/easyui.css">
<link rel="stylesheet" type="text/css" href="/public/static/easyui/themes/icon.css">
<script type="text/javascript" src="/public/static/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/public/static/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/public/static/js/sdmenu.js"></script>
<script type="text/javascript" src="/public/static/js/laydate/laydate.js"></script>
<link rel="shortcut icon" href="/public/static/images/favicon.ico" />
<script type="text/javascript" src="/public/static/easyui/locale/easyui-lang-zh_CN.js"></script>


</head>
<body>
   <ul class="breadcrumb">
    首页<span class="divider">/</span>{$arr['parent_rule']}<span class="divider">/</span>{$arr['rule']}
</ul>
<div class="title_right"><strong>{$arr['rule']}</strong></div>
<div style="position:absolute; right:15px;top:4px;">
    {include file="common:userinfo"}
    <style>
        .breadcrumb {
            margin: 0px;
            padding: 5px;
        }
    </style>
				<div class="margin-bottom-5">
					<a class="easyui-linkbutton" data-options="iconCls:'icon-add'" href="{:url('index/member/recharge_add')}">新建</a>
					<a class="easyui-linkbutton" data-options="iconCls:'icon-edit'" id="update">修改</a>
					{if $is_start==1}
					
						<a href="{:url('index/rechargereward/index')}" class="easyui-linkbutton" data-options="iconCls:'icon-man'" id="update">储值奖励管理</a>
				
					{/if}
					<select style="width:150px" id="pay_type" onchange="is_searchtype()">
						<option value ="-1" >按照收款方式筛选</option>
						{foreach $pay_type as $k=>$v}						
						<option value ="{$v['id']}">{$v['skfs_name']}</option>						
						{/foreach}
					</select>
					
					<input type="text" id="start_date" editable="fasle" class="easyui-datebox"  style="width:100px"   onchange="is_searchtype()"/>
					<input type="text" id="end_date" editable="fasle" class="easyui-datebox"  style="width:100px"   onchange="is_searchtype()"/>	
					<input type="text" placeholder="请输入查询关键字" style="width:200px" id="keyword" />
					<a class="easyui-linkbutton" data-options="iconCls:'icon-search'" id="search"  >查询</a>
					<a class="easyui-linkbutton" data-options="iconCls:'icon-refresh'" onclick="javascript:location.reload();">刷新</a>
				</div>
				<!-- onclick="searchdata()" -->

<div style="width:100%;height:85%; "><!-- calc( 100% - 100px )-->
<div id="grid" style="width:100%;height:100%; ">

</div>
</div>


</div>
<script>


 function   is_searchtype(){
	$("#search").click();
 }

//导出
function Execl() {
	$.messager.confirm('确认', '您确认要导出吗？', function (r) {
		var keyword = $("#keyword").val();
		if (r) {
			window.location.href = "/index/cure/patient_out.html?keyword="+keyword;
		}
	});
}
var grid;
$(function () {
	$("#update").click(function () {

		if (getSelectedArr(grid).length > 1) {
			$.messager.alert('提示','只能选择一条数据进行修改','warning'); return;
		}
		if (getSelectedArr(grid).length < 1) {
			$.messager.alert('提示','您未选择修改数据','warning'); return;
		}
		 window.location.href = "{:url('index/member/recharge_upd')}?id=" + getSelectedArr(grid); 
	})

	 $("#search").click(function () {
            grid.datagrid('options').page = 1;
            var queryParams = grid.datagrid('options').queryParams;
            queryParams.keyword = $("#keyword").val();
			queryParams.pay_type = $("#pay_type").val();
			queryParams.start_date = $('#start_date').datebox('getValue');  
			queryParams.end_date = $('#end_date').datebox('getValue');  
            grid.datagrid('options').queryParams = queryParams;
            grid.datagrid('reload');
        })


	grid = $('#grid').datagrid({   
		url:"{:url('index/member/recharge_list_api')}?ran=" + Math.random() + '&keyword=' + encodeURI($("#keyword").val()),
		pageSize: 50,
		fit: true,
		frozenColumns: [[
			{ field: 'ck', checkbox: true }
		]], 
		columns:[[
			{ field: 'recharge_date', title: '储蓄日期' },
			{ field: 'vip_num', title: '会员卡号' },
			{ field: 'name', title: '姓名' },
			{ field: 'phone', title: '手机号' },
			{ field: 'age', title: '年龄' },
			{ field: 'storage_money', title: '储值金额' },				
			{ field: 'bestowal_money', title: '活动赠送金额' },
			{ field: 'true_money', title: '实际充值金额' },
			{ field: 'money', title: '储值前余额' },
			{ field: 'summoney', title: '余额' },
			{ field: 'pay_type', title: '收款方式' },
			{ field: 'creation', title: '创建人' },
			{ field: 'creation_date', title: '创建日期' },
			{ field: 'upd_people', title: '最后修改人' },
			{ field: 'upd_people_date', title: '最后修改日期' },
			{ field: 'remark', title: '备注' },
			
		]],
		pagination: true,
		rownumbers: true,  
		fitColumns: true,
		onDblClickCell: function (index, field, value) {
	
			 window.location.href = "{:url('index/member/recharge_upd')}?id=" + grid.datagrid('getRows')[index]['id']; 
		}

	});
});


function getSelectedArr() {
	var ids = [];
	var rows = grid.datagrid('getSelections');
	for (var i = 0; i < rows.length; i++) {
		ids.push(rows[i].id);
	}
	return ids;
}

</script>

</body>
</html>